@{
    ViewBag.Title = "Pizzas & Panuzzos";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Pizzas & Panuzzos</h1>
    <p class="lead">Sistema de gerenciamento de pedidos de pizzaria</p>
    <div class="row mt-4">
        <div class="col-md-4">
            <a href="/Pizza" class="btn btn-lg btn-outline-primary w-100">Cadastrar Pizzas</a>
        </div>
        <div class="col-md-4">
            <a href="/Cliente" class="btn btn-lg btn-outline-success w-100">Gerenciar Clientes</a>
        </div>
        <div class="col-md-4">
            <a href="/Pedido" class="btn btn-lg btn-outline-warning w-100">Ver Pedidos</a>
        </div>
    </div>
</div>
