@{
    ViewBag.Title = "Cadastrar Pizza";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Cadastrar Pizza</h2>

<p>
    <a class="btn btn--primary" href="@Url.Action("Create", "Pizza")">Ir para o cadastro de Pizza</a>
    <a class="btn btn--outline" href="@Url.Action("Index", "Admin")">Voltar</a>
</p>
